.main{
    background-color: blue;
    height:600px;
    width: 600px;
    border: brown 3px;
    border-bottom: red;
}
.inner{
    background-color: chartreuse;
    height: 300px;
    width: 300px;
    border:red 3px;
    top: 200px;
    left: 200px;
    position: relative;
}











